<!doctype html>

<html class="{% block extra_html_class %}{% endblock %}" lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/supers.css" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/admin.js"></script>
    <script src="/static/js/user.js"></script>
    {% block head_extra %}{% endblock %}
  </head>

  <body>
    {% block content %}{% endblock %}
  </body>
</html>
