<!doctype html>

<html class="{% block extra_html_class %}{% endblock %}" lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/supers.css" />
    <link rel="stylesheet" href="/static/js/jquery-ui-1.12.1/jquery-ui.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="/static/js/admin.js"></script>
    <script src="/static/js/user.js"></script>
    {% block head_extra %}{% endblock %}
  </head>

  <body>
    <nav class="navigation">
      <a href="/admin/mission">Run mission</a>
      <a href="/admin/mission-dash">Mission dash</a>
      <a href="/admin/character-dash">Character dash</a>
      <a href="/admin/news-dash">News dash</a>
      <a href="/admin">CMS</a>
    </nav>
    <section class="main-content">
      {% block content %}{% endblock %}
    </section>
  </body>
</html>
