{% extends "_base.html" %}

{% block extra_html_class %}character{% endblock %}

{% block content %}
  <div class="content">
    <h1 class="title">{{ character.name }}</h1>
    <p>Player: {{ character.player }} | ID: {{ character.id }}</p>
    <h2>Glory: <span class="glory">{{ character.glory }}</span></h2>
    {% if team %}
      <h2>Team:</h2>
      <p>{{ team.name }} (Glory: {{ team.glory }})</p>
      {% if team.leader.name == character.name %}
        <p>You are the team leader</p>
      {% endif %}
    {% endif %}
    <h2>Available for mission?</h2>
    <p class="available">
      {% if available %}
        <span class="yes">Yes</span>
      {% else %}
        <span class="no">No</span> - wait {{ time_to_available }} minutes
      {% endif %}
    </p>
    <h2>Skills, abilities, contacts</h2>
    <ul>
    {% for skill in character.skills.all %}
      <li>{{ skill }}</li>
    {% endfor %}
    </ul>

    <h2>Latest news</h2>
    {% if news %}
      <ul class="news-list">
        {% for item in news %}
          <li class="news-item news-{{ item.contact }}">{{ item.content }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <script>
    window.setInterval(function(){
      location.reload();
    }, 60000);
  </script>
{% endblock %}
