{% extends "_base.html" %}

{% block extra_html_class %}character{% endblock %}

{% block content %}
  <div class="content">
    <h1 class="title">{{ character.name }}</h1>
    <p>Player: {{ character.player }}</p>
    <h2>Glory: <span class="glory">{{ character.glory }}</span></h2>
    <h2>Available for mission?</h2>
    <p class="available">
      {% if available %}
        <span class="yes">Yes</span>
      {% else %}
        <span class="no">No</span> - wait {{ time_to_available }} minutes
      {% endif %}
    </p>
    <h2>Skills</h2>
    <ul>
    {% for skill in character.skills.all %}
      <li>{{ skill }}</li>
    {% endfor %}
    </ul>

    <h2>Latest news</h2>
    {% if news %}
      <ul>
        {% for item in news %}
          <li class="news-item news-{{ item.contact }}">{{ item.content }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock %}
