html {
  background-color: #000;
  color: #fff;
  font-family: arial, helvetica, sans-serif;
  font-size: 18px;
}

a {
  color: #990000;
}

a:hover,
a:active {
  color: #770000;
}

.hide {
  display: none;
}

/* Navigation */
.navigation {
  height: 40px;
  margin-bottom: 20px;
}

.navigation a {
  background-color: #ccc;
  color: #000;
  display: block;
  float: left;
  margin-right: 2px;
  padding: 5px 10px;
}

.navigation a:hover {
  background-color: #990000;
}

/* Main content */
.main-content {
  clear: both;
}

/* Misson */
.mission {
  background-color: #000;
  color: #fff;
}

.mission .fudge {
  height: 20px;
  line-height: 1em;
  margin-left: 3px;
  margin-right: 3px;
  width: 30px;
}

.mission .info-members {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mission-info-team-member {
  list-style-type: none;
    border-bottom: 1px solid #990000;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.used {
  text-decoration: line-through;
}

.sidebar {
  border: 1px solid #990000;
  margin: 10px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 30vw;
}

input[type=checkbox] {
  height: 25px;
  width: 25px;
}

button {
  height: 40px;
  font-size: 1.1em;
}

select {
  height: 40px;
  line-height: 40px;
  width: 300px;
  font-size: 1.1em;
}

input[type=text] {
  font-size: 18px;
  margin: 0 10px;
  padding: 0 5px;
  height: 30px;
  width: 30px;
}

/* titles */
.title {
  border-bottom: 2px solid #990000;
}

/* stage buttons */

.mission .content {
  width: 60vw;
}

.mission input[type=checkbox] {
  margin-left: 10px;
}

.mission .required-skills {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mission .required-skills h4 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.stage-button {
  font-size: 24px;
  line-height: 75px;
  height: 75px;
  width: 150px;
}

.passed {
  background-color: green;
}

.passed.disabled {
  background-color: grey;
}

.failed {
  background-color: red;
}

.failed.disabled {
  background-color: grey;
}

/* Homepage */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000;
}

/* Fudge */
.fudge {
  background-color: #000;
  color: #fff;
}

.fudge .box {
  margin: 20px;
  padding: 10px 20px;
  border: 1px solid #990000;
}

/* Map */
.map {
  background-color: #000;
  color: #fff;
}

.map-image {
  float: left;
  max-height: 95vh;
  max-width: 49vw;
}

.map-scores {
  float: right;
  max-height: 95vh;
  width: 48vw;
}

.map-top-list {
  border: 2px solid #990000;
  margin-bottom: 20px;
  padding: 20px;
}

/* News ticker */

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: #990000;
  padding-left: 100%;  // offset items to begin
}

.news-ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap; // display items in a line
  padding-right: 100%; // ensure items go before animations repeat (taken from parent due to inline-block)
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}

.news-ticker__item {

  display: inline-block;

  padding: 0 2rem;
  font-size: 2rem;
  color: white;

}

/* Character */
.character {
  background-color: #000;
  color: #fff;
}

.character .content {
  max-width: 500px;
}

.character .news-list {
  margin: 0;
  padding: 0;
}

.character .news-item {
  border: 1px solid #990000;
  display: block;
  list-style: none;
  margin: 5px 0;
  padding: 10px;
}

/* Dash */
.dash .list {
  border-collapse: collapse;
}

.dash .list td {
  max-width: 300px;
  padding: 5px 15px;
}

.dash .active {
  border-left: 15px solid green;
  border-right: 15px solid green;
}

.dash .inactive {
  border-left: 15px solid red;
  border-right: 15px solid red;
}

.dash .future {
  border-left: 15px solid #0E3BA3;
  border-right: 15px solid #0E3BA3;
}

.dash .row {
  border-bottom: 2px solid #990000;
}

.dash .row.claimed {
  background-color: #222;
}

.dash .row:hover {
  background-color: #888;
}

/* Character dash */
.character-dash .characters {
  border-collapse: collapse;
}

.character-dash .characters td {
  padding: 5px;
}
